* {
  font-family: Arial, Helvetica, Sans-serif;
  box-sizing: border-box;
}

#header-nav {
	background-color: yellow;
}

.header-nav {
	font-size: 150%;
}

.panel {
	background-color: pink;
}

.text-center {
	font-size: 200%;
}

#ourTitle {
	font-size: 300%;
	font-style:bold;
	padding-bottom: 30px;
}